* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: inherit;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
textarea {
  border: 2px solid #ccc;
  box-shadow: none;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: border 0.3s ease;
}
@font-face {
  font-family: 'MyFont';
  src: url(../fonts/ShareTechMonoRegular.ttf);
  font-weight: normal;
  font-style: normal;
}
button{
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'MyFont', sans-serif;
  font-size: 1.1rem;
}
.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container{
  margin: 0 auto;
  max-width: 1600px;
}
.galery-header{
    background-color: #7e57c2;
     }
.galery-header-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    gap: 300px;
    }
    .logo-search{
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: space-between;
    }
.logo-img{
    width: 120px;
    height: 120px;
} 
.search-form{
  width: 500px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}   
.search{
    flex: 1;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 8px 0 0 8px;

}
.search-btn{
  font-size: 1.1rem;
  border: none;
  background-color: #ffeb3b;
  color:#7e57c2;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;


}
.icon-search{
  padding-left: 10px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nav-menu-items{
    display: flex;
    color: #ffeb3b;
    gap: 2rem;
}
.nav-menu-item:before{
    padding-right: 5px;
    font-size: 1rem;
}
.account-btn{
  
  color: #ffeb3b;
  cursor: pointer;
}

.account-menu{
    opacity: 0;
    position: absolute;
    top: 5.85%;
    left: 68%;
    border-radius: 8px;
    text-align: left;
    color: #7e57c2;
    padding:0.5rem 0.5rem;
    line-height: 1.5;
    background-color: #e8ddfa;
    z-index: 999;
    transition: opacity 0.3s ease;
}
.account-menu.visible{
  opacity: 1;
}
.contact-btn{
  cursor: pointer;
}
.contact-menu{
    opacity: 0;
    position: absolute;
    top: 5.85%;
    left: 47%;
    border-radius: 20px;
    text-align: left;
    padding-top: 0;
    padding-bottom: clamp(1rem, 1vw, 2rem);
    padding-left: clamp(1rem, 1vw, 2rem);
    padding-right: clamp(1rem, 1vw, 2rem);
    background-color: #e8ddfa;
    z-index: 999;
    transition: opacity 0.3s ease;
}
.contact-menu.visible{
    opacity: 1;
}
  .contact-list{
    padding-bottom: clamp(1rem, 1vw, 3rem);
    line-height: 1.8;
  }
  .contact-list:last-child{
    padding-block: 0;
  }
    .contact-list:first-child{
    padding-block: 0.9vw;
  }
  .address{
  padding-left: 3px;
}
.contact-list:before{
  padding-right: 15px;
  font-size: 1rem;
}


.life,
.kyivstar,
.telegram,
.viber,
.mail{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.life:before,
.kyivstar:before,
.telegram:before,
.viber:before,
.mail:before{
  content: '';
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 .life:before{
  background-image: url('../icons/life.svg');
 }
 .kyivstar:before{
  background-image: url('../icons/kyivstar.png');
 }
.telegram:before{
  background-image: url('../icons/telegram.svg');
 }
.viber:before{
  background-image: url('../icons/viber.svg');
 }
 .mail:before{
  background-image: url('../icons/mail.svg');
 }


