* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: inherit;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
textarea {
  border: 2px solid #ccc;
  box-shadow: none;
  outline: none;
  padding: 0.6em;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: border 0.3s ease;
}
@font-face {
  font-family: 'MyFont';
  src: url(../fonts/ShareTechMonoRegular.ttf);
  font-weight: normal;
  font-style: normal;
}
button{
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'MyFont', sans-serif;
  font-size: 1.1rem;
}
.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container{
  margin: 0 auto;
  max-width: 1600px;
}
.galery-header{
    background-color: #7e57c2;
     }
.galery-header-container{
    display: flex;
    justify-content: space-between;
    padding: clamp(0.5rem, 4vw, 1.5rem);
    align-items: center;
    gap: 1rem;
    }

.logo-img{
    width: 60px;
    height: 48px;
} 
.search-form{
  width: 100%;
  max-width:  500px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}   
.search{
  flex: 1;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  text-overflow: ellipsis;
}
.search-btn{
  font-size: 1.1rem;
  border: none;
  background-color: #ffeb3b;
  color:#7e57c2;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  padding-right: clamp(0.5rem, 0.8vw, 1rem);
}
.search-btn:hover{
  background-color: #e8ddfa;
  color: #7e57c2;
}
.btn-text{
  display: none;
}
.icon-search::before{
  padding-left: clamp(0.5rem, 0.8vw, 1rem);
  padding-right: clamp(0.5rem, 0.8vw, 1rem);
}
.close-burger:before{
  color: #ffeb3b;
  font-size: 2.6rem;
}
.icon-menu-burger::before{
  color: #ffeb3b;
  font-size: 3rem;
}
.icon-menu-burger{
  display: inline-block;
}
.close-burger{
  display: none;
}
.burger.active .icon-menu-burger{
  display: none;
}
.burger.active .close-burger{
  display: inline-block;
}
.nav-menu-items{
    display: none;
    cursor: pointer;
  }
.nav-menu-items.active{
  display: block;
  position: fixed;
  width: 68%;
  top: 1.5%;
  left: 50%;
  transform: translateX(-47.5%);
  background: #e8ddfa;
  text-align: left;
  line-height: 2;
  font-size: 2rem;
  color: #7e57c2;
  border-radius: 8px;
  z-index: 1;
  padding: 1rem 1rem 1rem 4.3rem;
}
.nav-menu-item:hover{
  color: #e8ddfa;
  
}
.nav-menu-item:before{
    padding-right: 5px;
    font-size: 2rem;
}





.contact-menu{
    display: none;
    }
.contact-menu.active{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 93%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    gap: 2rem;
    text-align: left;
    padding: clamp(1rem, 2vw, 2rem);
    background-color: #e8ddfa;
    z-index: 2;
}
  .contact-list{
    line-height: 1.8;
  }
  .address{
  padding-left: 3px;
}
.contact-list:before{
  padding-right: 15px;
  font-size: 1rem;
}
.close-contact{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 15px;
}
.close-contact:hover{
  background: red;
  color: #ffeb3b;
  padding: 15px;
  border-radius: 5px;
}

.life,
.kyivstar,
.telegram,
.viber,
.mail{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.life:before,
.kyivstar:before,
.telegram:before,
.viber:before,
.mail:before{
  content: '';
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 .life:before{
  background-image: url('../icons/life.svg');
 }
 .kyivstar:before{
  background-image: url('../icons/kyivstar.png');
 }
.telegram:before{
  background-image: url('../icons/telegram.svg');
 }
.viber:before{
  background-image: url('../icons/viber.svg');
 }
 .mail:before{
  background-image: url('../icons/mail.svg');
 }
 .account-menu{
display:none;
}
.account-menu.active{
}

@media (min-width: 1024px) {
  .burger{
    display: none;
  }
  .nav-menu-items{
    display: flex;
    color: #ffeb3b;
    font-size: inherit;
    gap: clamp(0.1rem, 2vw, 2rem);
    padding: 0;
  }
  .nav-menu-item::before{
    font-size: inherit;
  }
  .btn-text {
    display: inline-block;
  }
  .icon-search:before{
  padding-right: 10px;
}
}
@media (orientation: landscape) and (max-height: 500px){
  .nav-menu-items.active{
    height: 95dvh;
  }
}