@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot');
  src:  url('../fonts/icons.eot') format('embedded-opentype'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e903";
}
.icon-delivery:before {
  content: "\e904";
}
.icon-equality:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}
.icon-heart_full:before {
  content: "\e907";
}
.icon-left:before {
  content: "\e908";
}
.icon-menu-burger:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-shopping-cart:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
