* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: inherit;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul,p,label{
  font-family: 'Quicksand';
}
body{
  font-family: 'Dancing Script', cursive;
}
.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container{
  margin: 0 auto;
  max-width: 1600px;
  padding-top:clamp(1rem, 2vw, 2rem);
  text-align: center;
}
.hero-header-container{
  min-height: 100vh;
   background-image: 
  linear-gradient(to right, rgba(126, 87, 194, 0.8), rgba(126, 87, 194, 0.1)),
  url(../img/hero_image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: clamp(3rem, 6.66vw, 8rem);
  color: white;
  padding-top: clamp(5rem, 10vw, 12rem);
  text-align: center;
}
.title{
  padding-inline: 1rem;
}
.logo{
 font-size: clamp(2.5rem, 4vw, 5rem);
 font-weight: bold;
 letter-spacing: 0.2rem;
 }
.under{
  letter-spacing: 0.5rem;
  color: yellow;
}
.middle {
  transform: translateY(0); 
  animation: floatUpDown 2s ease-in-out infinite;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(8px); }
  100% { transform: translateY(0); }
}
h1{
  font-size: clamp(1.4rem, 2vw, 2rem);
}
h2{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
h3{
  font-size: clamp(1.8rem, 2vw, 3rem);
  font-weight: bolder;
  text-align: center;
  line-height: clamp(2.2rem, 3vw, 4rem);
}
h4{
  font-weight:bold;
  font-size: clamp(1.3rem, 1.5vw, 1.7rem);
}
.hero-buttons-container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: clamp(1rem, 2vw, 3rem);
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  text-align: center;
  }
.btn-primary,
.btn-secondary{
  border-radius: 10px;
  height: clamp(2.2rem, 2.4vw, 3rem);
  width: clamp(10rem, 12vw, 14rem);
  padding: 0.5rem;
}
.btn-primary{
  background-color:rgba(255, 235, 59, 0.7);
}
.btn-secondary{
  background-color: rgba(126, 87, 194, 0.7);
}
.btn-primary:hover,
.btn-secondary:hover {
  transform: translateY(-2px);
}
main{
  background-color: #f3eaff;
  color: #4a148c;
}
.submain-title{
  margin-bottom: clamp(1rem, 1vw, 1.5rem);
}
.offer-cards{
  text-align: start;
  padding: clamp(1rem, 2vw, 2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: clamp(1rem, 2vw, 2rem);
}
.offer-card{
  display: grid;
  grid-template-rows:
    clamp(2rem, 2vw, 2.5rem)   
    clamp(3rem, 3vw, 4rem)  
    1fr;
  border-radius: 20px;
  background-color: #e8ddfa;
  padding:clamp(1rem, 1vw, 2rem);
  gap:clamp(1rem, 1vw, 2rem);
}
._icon-star{
  color: gold;
  margin-right: 0.2rem;
}
.offer-card li{
  font-weight: 700;
}
.storefront{
  padding-inline: clamp(1rem, 2vw, 2rem);
  margin-bottom: clamp(0.8rem,1vw,2rem)
}
.storefront-img{
  max-height: 90vh;
  border-radius: 20px;
  width: 100%;
}
.submain-container {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1rem, 2vw, 2rem);
  padding-inline: clamp(1rem, 2vw, 2rem);
  margin-bottom: clamp(1rem,4vw,4rem)
}
.salon-img{
  max-height: 90vh;
  width: 100%;
  border-radius: 20px;
  height: 100%;
}
.store-name{
  color: gold;
}
.features {
  padding-top: clamp(1rem, 1vw 2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: clamp(1rem, 2vw, 2rem);
}
.feature {
  display: grid;
  background-color: #e8ddfa;
  padding: 1rem;
  border-radius: 20px;
  gap: 1rem;
}
@media (max-width: 768px) {
   .submain-container {
    grid-template-columns: 1fr;
  }
  .submain-title{
    text-align: center;
  }
    .hero-buttons-container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: end;
    }
    .btn-secondary,
    .btn-primary{
      margin-bottom: 1rem;
    }
  }
@media (orientation: landscape) and (max-height: 500px){
    .hero-header-container {
      row-gap: 2rem;
      padding-top: 2rem;
     }
    .offer-cards{
      padding-top: clamp(1rem, 1vw 2rem);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: clamp(1rem, 2vw, 2rem);
    }
    .submain-container {
    grid-template-columns: 1fr;
  }
  .features {
  padding-top: clamp(1rem, 1vw 2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(1rem, 2vw, 2rem);
}
  }
@media (orientation: landscape) and (max-height: 360px){
    .hero-header-container {
      row-gap: 1rem;
      padding-top: 1rem;
     }
    .hero-buttons-container{
      display: grid;
      grid-template-columns: repeat(2, auto);
    } 
  }
footer{
  background-color: #f5f5f5;
}
  .footer-content{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 2vw , 2rem);
    padding: clamp(1rem, 2vw, 2rem);
  }
  .store{
    border-radius: 20px;
    background-color: white;
    text-align: left;
    padding: clamp(1rem, 1vw, 2rem);
  }
  .contact-list{
    padding-block: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
  }
.life,
.kyivstar,
.telegram,
.viber,
.mail{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.life:before,
.kyivstar:before,
.telegram:before,
.viber:before,
.mail:before{
  content: '';
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 .life:before{
  background-image: url('../svg/life.svg');
 }
 .kyivstar:before{
  background-image: url('../svg/kyivstar.png');
 }
.telegram:before{
  background-image: url('../svg/telegram.svg');
 }
.viber:before{
  background-image: url('../svg/viber.svg');
 }
 .mail:before{
  background-image: url('../svg/mail.svg');
 }
.help-form{
    border-radius: 20px;
    background-color: white;
    text-align: left;
    padding: clamp(1rem, 1vw, 2rem);
  }
  .help-form-grid{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-block: clamp(1rem, 2vw, 2rem);
}
label{
  font-size:clamp(1rem, 1.2vw, 2rem);
}
label:nth-child(3){
  grid-column: span 2;
}
label:nth-child(4){
  grid-column: span 2;
}
.name,
.email{
  width:clamp(20rem, 16vw, 20rem);
  height: clamp(1.5rem, 2vw, 2rem);
  padding: 0.6rem;
  border-radius: 7px;
  margin-top: 1rem;
 }
.tel { 
  width:clamp(20rem, 45.4vw, 42rem);
  height: clamp(1.5rem, 2vw, 2rem);
  padding: 0.6rem;
  border-radius: 7px;
  margin-top: clamp(0.5rem, 1vw, 1rem);
}
.message {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  width:clamp(20rem, 45.4vw, 42rem);
  height: clamp(8rem, 10vw, 25rem);
  padding: 0.6rem;
  border-radius: 7px;
  margin-top: clamp(0.5rem, 1vw, 1rem);
 }
.form-button{
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  border-radius: 15px;
  width:clamp(20rem, 45.4vw, 42rem);
  height: clamp(2rem, 3vw, 2.7rem);
  text-align: center;
  grid-column: span 2;
  margin-top: clamp(0.5rem, 0.5vw, 1rem);
  background: linear-gradient(to right,
   rgb(126, 87, 194) 0%,
   rgb(126, 87, 194) 50%,
   rgb(255, 235, 59) 100%);
}

